.container {
	padding: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;
	border-radius: 15px;
	border: 1px solid black;
}

.inner-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

h1 {
	/* font-size: 12px; */
}
